<div id="categoryPanel">
  <div>Categories</div>
  <select ng-change="updateSubList()" ng-model="Item.category" class="category">
    <option value="">Select One</option>
    <option ng-repeat="(key, category) in categoryList" value="{{ key }}" >{{category.parentName}}</option>
  </select>
</div>

<div id="subCategoryPanel">
  <div>Sub-Categories</div>
  <select ng-model="Item.subcategory" class="subcategory" ng-change="updateProduct()">
    <option value="">Select One</option>
    <option ng-repeat="subcategory in subList" value="{{subcategory.id}}">{{subcategory.token}}</option>
  </select>
</div>

<div id="products" ng-show="Item.subcategory">
  <div class="product" ng-repeat="product in products">
    <input type="checkbox" ng-model="product.selected"/> <span ng-click="markSelected(product)" id="{{product.id}}">{{ product.name }} - {{ product.price | currency }}</span>
  </div>
</div>