<h2>Current Bill</h2>

<div id="filter">Filter: <input ng-model="query"></div>

<div class="splitSection"></div>

<div id="itemList">
  <div ng-repeat="item in items | filter:query">
    <input type="checkbox" ng-model="item.done"> <span class="done-{{item.done}}">{{ item.name }} - {{ (item.price * 1.0775 * 1.2) | currency }}</span>
  </div>
</div>

<div id="totalUnpaid">Total Unpaid: {{ getUnpaid() | currency }}</div>

<div class="splitSection"></div>

<h3>Add More Items</h3>
<form id="itemForm">
  <div>
    Name:<br/>
    <input type="text" ng-model="item.name">
  </div>
  <div>
    Price:<br>
    <input type="text" ng-model="item.price">
  </div>
  <div id="addItemButton">
    <button ng-click="addItem()">Add</button>
  </div>
</form>

